.browsehappy {
  color: #000;
  background-color: #ccc;
  padding: 0.2em 0;
  margin: 0.2em 0;
}
body {
  padding: 0;
  background-image:url('../images/aesthetic-list-background.jpg');
}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.jumbotron {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 5px solid #fff;
  border-radius: 0!important;
  margin-top: 16px;
  margin-bottom: 7px;
}
.jumbotron .add-kid {
  display: block;
  cursor: pointer;
  font-size: 25px;
  margin-top: 38px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .shopping-list-link {
    padding-left:0
  }
}
.navbar {
  background-color:transparent;
  border:none;
}
h1,h2,h3,
h4,h5,h6,
p, ul, * {
  font-family: 'Raleway', sans-serif;
  color:#fff;
}
.jumbotron h1 {
  font-weight:200;
  margin-top:46px;
}
.coal-counter {
  float:left;
}
.present-counter {
  float:right;
  cursor:pointer;
}
.coal-counter-icon {
  display: inline-block;
  font-size:46px;
}
.present-counter-icon {
  display: inline-block;
  font-size:36px;
}

.coal-counter-icon {
  display: inline-block;
  font-size: 33px;
  margin-bottom: 7px;
}

.present-counter-icon {
  display: inline-block;
  font-size: 27px;
}
.coal-counter-inner-container,
.present-counter-inner-container {
  display:table-cell;
}
.coal-count {
  position: relative;
  top: -14px;
}
.present-count {
  position: relative;
  top: -5px;
  left: 1px;
}
.shopping-list-link.ng-enter,
.shopping-list-link.hiding {
  padding:0;
  opacity:0
}
a.shopping-list-link {
  overflow:hidden;
  display:block;
  opacity:1;
  font-size:26px;
  font-weight:200;
  padding:38px;
  border-bottom:1px solid #fff;
  text-decoration:none;
  color:#fff;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.present-for-label {
  font-size:14px;
}
.shopping-list-link:hover {
  font-size:28px;
  /*padding:36px;*/
}
.shopping-list-link:hover span {
  text-underline:none;
}
.present-wish-label {
  float:left;
}
.present-shopping-link-icon {
  float:right;
}
.naughty-or-nice-list {
  width:100%;
  height:130px;
  overflow:hidden;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.naughty-or-nice-list.ng-enter,
.naughty-or-nice-list.deleting {
  height:0px;
  opacity:0;
}
.naughty-or-nice-list-item {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
  padding: 20px 28px 20px 10px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(255,255,255,0.69);

}
.naughty-or-nice-list-item * {
  display:table-cell;
  vertical-align:middle;
  color:#fff;
}
.naughty-or-nice-list ::-webkit-input-placeholder,
.naughty-or-nice-list :-moz-placeholder,
.naughty-or-nice-list ::-moz-placeholder,
.naughty-or-nice-list :-ms-input-placeholder {
  color:#fff;
}
.naughty-or-nice-list input {
  background-color:transparent;
  border:none;
  text-align:center;
  display:inline
}
.remove-from-naughty-or-nice-list {
  cursor:pointer;
  font-size:20px;
  width:38px;
  opacity:0;
  -webkit-transition: 0.15s opacity ease-in-out;
  -moz-transition: 0.15s opacity ease-in-out;
  -ms-transition: 0.15s opacity ease-in-out;
  -o-transition: 0.15s opacity ease-in-out;
  transition: 0.15s opacity ease-in-out;
}
.naughty-or-nice-list-item:hover .remove-from-naughty-or-nice-list {
  opacity:1;
}
.naughty-or-nice-icon {
  width:50px;
  cursor:pointer;
  font-size:50px;
  margin-right:20px;
}
.naughty-or-nice-name {
  width:100%;
  text-align: left;
  font-weight:200;
  font-size:26px;
  padding-left:20px;
}
.naughty-or-nice-name:hover {
  font-weight:400;
}
.naughty-or-nice-name input {
  width:100%;
  text-align:left;
}
.naughty-or-nice-name-text {
  cursor:pointer;
}
.present-inner-container.coal {
  margin-right:19px;
}
.present-inner-container {
  float:right;
  cursor:pointer;
}
.present-icon {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 23px;
}
.coal .present-icon {
  font-size:27px;
}
.present-description {
  display:block;
  font-weight:200;
  font-size:14px;
  text-align:center;
  margin-top:6px;
}
.naughty-or-nice-filters {
  display:table;
  width:100%;
  border: 1px solid #fff;
  border-radius:3px;
  margin-top:16px;
}
.naughty-or-nice-filters > div {
  display:table-cell;
  width:25%;
  cursor:pointer;
  text-align:center;
  padding:3px;
  border-right:1px solid #fff;
  -webkit-transition: 0.2s background-color ease-in;
  -moz-transition: 0.2s background-color ease-in;
  -ms-transition: 0.2s background-color ease-in;
  -o-transition: 0.2s background-color ease-in;
  transition: 0.2s background-color ease-in;
}
.naughty-or-nice-filters > div:last-child {
  border-right:none
}
.naughty-or-nice-filters > div:hover {
  background-color:rgba(255,255,255,0.1);
}
.naughty-or-nice-filters > div.active {
  background-color:#fff;
  color:#18b4a7;
}
.cancel-edit,
.confirm-edit {
  cursor:pointer;
  width:40%;
  font-size:14px
}
.naught-or-nice-name-edit-controls .cancel-edit {
  margin-right:6px;
}

.input-edit-line {
  background-color: #FFF;
  height: 0px;
  opacity:0;
  width: 1px;
  display: block;
  border-radius: 8px;
  margin:0 auto;
  -webkit-transition: 0.2s all  ease-in;
  -moz-transition: 0.2s all  ease-in;
  -ms-transition: 0.2s all  ease-in;
  -o-transition: 0.2s all  ease-in;
  transition: 0.2s all  ease-in;
}
.input-edit-line.editing {
  height: 1px;
  opacity:1;
  width: 69%;
}
.input-edit-line.name-input-line.editing {
  margin:0;
  width:100%;
}
input.naughty-or-nice-name-input.editing,
input.nice-kids-input.editing {
  font-weight:400;
}
.present-inner-container:hover input.nice-kids-input {
  font-weight:400;
}
input.naughty-or-nice-name-input.editing:hover,
input.nice-kids-input.editing:hover {
  cursor:text!important;
}
input.naughty-or-nice-name-input:hover,
input.nice-kids-input:hover {
  cursor:pointer!important;
}
.json-export {
  overflow:hidden;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
.json-export.ng-hide {
  height:0px;
  opacity:0;
}
.json-export {
  height:600px;
  opacity:1;
  color:#18b4a7;
  background-color:rgba(255,255,255,1);
  margin-top:16px;
  border-radius:0;
  border:none;
}

@media screen and (max-width:1028px){
  /* need remove visible on any possible tablet widths */
  .remove-from-naughty-or-nice-list {
    opacity:1;
    padding-right:10px;
  }
}

@media screen and (max-width: 769px) {
  a.shopping-list-link {
    padding:24px 6px;
  }
}

@media screen and (max-width: 430px) {
  .naughty-or-nice-icon {
    font-size:30px;
  }
  .naughty-or-nice-name-container {
    display: inline-block;
    padding-top: 28px;
    width: 165px !important;
    overflow: visible;
    margin: 0px;
  }
}

@media screen and (max-width: 410px) {
  .naughty-or-nice-name-container {
    width: 94px !important;
  }
}