<!doctype html>
<html class="no-js" id="ng-app" ng-app="theListApp" lang="en">

  <head>
    <meta charset="utf-8">
    <title>The List - Checking It Twice, Since Checking It Twice </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Santa's List Presented as A Modern Flat UI App">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,500" rel="stylesheet">
    <link href="styles/themify-icons/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">

    <!-- Legacy Browser Compatibility -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
      </p>
    <![endif]-->

    <div ng-controller="MainCtrl as mainCtrl" class="container">
      <!--
        NOTE: the requirement of being executable without additional build step
              causes CORS problems when running locally in Chrome;
              preventing use of ng-routing/ng-view, ng-includes, directive templateUrl's
              and many other standard angular practices
      -->
      <!-- <div ng-view=""></div> -->
      <!-- <div ng-include="'views/main.html'"></div> -->
      <div class="jumbotron">
        <div class="top-icon-container">
          <div
            title="Coal Count: {{mainCtrl.coalAndPresentCount.coal}}"
            class="coal-counter" >
            <div class="coal-counter-inner-container">
              <span class="coal-counter-icon ti-cloud"></span>
              <div
                ng-bind="mainCtrl.coalAndPresentCount.coal"
                class="coal-count">
              </div>
            </div>
          </div>
          <shopping-list-button
            presents-count="mainCtrl.coalAndPresentCount.presents">
          </shopping-list-button>
        </div>
        <h1>THE LIST</h1>
        <span
          ng-click="mainCtrl.addToNaughtyOrNiceList(mainCtrl.naughtyOrNiceModel)"
          title="Add Someone to the List"
          class="add-kid ti-plus">
        </span>
      </div>

      <filter-buttons
          list-model="mainCtrl.naughtyOrNiceModel"
          list-export="mainCtrl.exportedNaughtyOrNiceList"
          selected-filter="mainCtrl.selectedFilter">
      </filter-buttons>

      <pre
        ng-show="mainCtrl.selectedFilter === 'export' && !mainCtrl.shoppingList.visible"
        ng-bind="mainCtrl.exportedNaughtyOrNiceList | json"
        class="json-export"
        ng-cloak>
      </pre>

      <shopping-list-view
        naughty-or-nice-list="mainCtrl.naughtyOrNiceModel"
        shopping-list="mainCtrl.shoppingList">
      </shopping-list-view>

      <!--<a
        ng-repeat="present in mainCtrl.shoppingList.presents"
        ng-href="https://www.amazon.com/s/?field-keywords={{present.wish}}"
        ng-show="mainCtrl.shoppingList.visible"
        ng-class="{'hiding':mainCtrl.shoppingList.hiding}"
        class="shopping-list-link"
        title="Shop for '{{present.wish}}' on Amazon"
        target="_blank">
        <span class="present-for-label">Shop For {{present.name}}</span>
        <br>
        <span ng-bind="present.wish" class="present-wish-label"></span>
        <span class="present-shopping-link-icon ti-angle-right"></span>
      </a>-->


      <div
        ng-repeat="kid in mainCtrl.naughtyOrNiceModel | filter:mainCtrl.selectedFilter"
        ng-hide="mainCtrl.selectedFilter === 'export' || mainCtrl.shoppingList.visible"
        ng-class="{'deleting':kid.deleting||mainCtrl.shoppingList.visible}"
        class="naughty-or-nice-list">
        <div class="naughty-or-nice-list-item">
          <div
            ng-click="mainCtrl.removeFromNaughtyOrNiceList(mainCtrl.naughtyOrNiceModel, kid)"
            class="remove-from-naughty-or-nice-list ti-trash"
            title="Remove from List">
          </div>
          <div
            ng-click="mainCtrl.toggleNaughtyOrNice(mainCtrl.naughtyOrNiceModel, kid)"
            ng-class="{'ti-face-smile':kid.nice,'ti-face-sad':!kid.nice}"
            class="naughty-or-nice-icon"
            title="Toggle Naughty or Nice">
          </div>
          <div class="naughty-or-nice-name-container">
            <h4 class="naughty-or-nice-name">
              <form ng-submit="mainCtrl.saveNameEdit(kid)">
                <input
                  ng-model="kid.name"
                  ng-click="mainCtrl.enableNameEditing(kid)"
                  ng-focus="mainCtrl.enableNameEditing(kid)"
                  ng-blur="mainCtrl.saveNameEdit(kid)"
                  ng-keyup="mainCtrl.nameInputKeyListener(kid, $event)"
                  ng-class="{'editing':kid.$nameEditing}"
                  class="naughty-or-nice-name-input"
                  title="Click to edit name"
                  type="text">
              </form>
              <div
                ng-class="{'editing':kid.$nameEditing}"
                class="input-edit-line name-input-line">
              </div>
              <div class="naughty-or-nice-name-edit-controls">
                <span
                  ng-click="mainCtrl.cancelNameEdit(kid)"
                  ng-show="kid.$nameEditing"
                  class="cancel-edit present-icon ti-close">
                </span>
                <span
                  ng-click="mainCtrl.saveNameEdit(kid)"
                  ng-show="kid.$nameEditing"
                  class="confirm-edit present-icon ti-check">
                </span>
              </div>
            </h4>
          </div>

          <div class="present-container">
            <div class="present-inner-container">
              <span
                ng-click="mainCtrl.enableWishEditing(kid)"
                ng-class="{'ti-gift':kid.nice, 'ti-cloud':!kid.nice}"
                class="present-icon">
              </span>
              <div class="present-description">
                <form ng-submit="mainCtrl.saveWishEdit(kid)">
                  <input
                    ng-show="kid.nice"
                    ng-model="kid.wish"
                    ng-click="mainCtrl.enableWishEditing(kid)"
                    ng-focus="mainCtrl.enableWishEditing(kid)"
                    ng-blur="mainCtrl.saveWishEdit(kid)"
                    ng-keyup="mainCtrl.wishInputKeyListener(kid, $event)"
                    ng-class="{'editing':kid.$wishEditing}"
                    class="nice-kids-input"
                    title="Click to edit wish"
                    type="text">
                </form>
                <input
                  ng-show="!kid.nice"
                  type="text"
                  value="Coal"
                  title="Sorry, naughty boys and girls get coal :("
                  disabled>
                <div
                  ng-class="{'editing':kid.$wishEditing && kid.nice}"
                  class="input-edit-line">
                </div>
                <span
                  ng-click="mainCtrl.cancelWishEdit(kid)"
                  ng-show="kid.$wishEditing && kid.nice"
                  class="cancel-edit present-icon ti-close">
                </span>
                <span
                  ng-click="mainCtrl.saveWishEdit(kid)"
                  ng-show="kid.$wishEditing && kid.nice"
                  class="confirm-edit present-icon ti-check">
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/bower_components/angular/angular.min.js"></script>
    <script src="vendor/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- COMPONENTS -->
    <script src="scripts/components/filter-buttons/filter-buttons-module.js"></script>
    <script src="scripts/components/filter-buttons/filter-buttons-service.js"></script>
    <script src="scripts/components/filter-buttons/filter-buttons-directive.js"></script>
    <script src="scripts/components/shopping-list/shopping-list-module.js"></script>
    <script src="scripts/components/shopping-list/shopping-list-button-directive.js"></script>
    <script src="scripts/components/shopping-list/shopping-list-view-directive.js"></script>
    <!-- MAIN APP -->
    <script src="scripts/app.js"></script>
    <!-- SERVICES -->
    <script src="scripts/services/NaughtyOrNiceModel.js"></script>
    <script src="scripts/services/Kid.js"></script>
    <script src="scripts/services/CoalAndPresentCount.js"></script>
    <!--CONTROLLERS-->
    <script src="scripts/controllers/MainCtrl.js"></script>
    <!-- endbuild -->

  </body>
</html>